@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofiendalsvej 60<br />
    Aalborg, 9200<br />
    <abbr title="Phone">Phone:</abbr>
    (+45)60561169
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:1074206@ucn.dk">1074206@ucn.dk</a><br />
</address>