@model PlantRMVC2.Models.RemoveLoginViewModel

@{
    ViewBag.Title = "Delete Account";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Delete", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal">
        </dl>

        @using (Html.BeginForm())
    {
            @Html.AntiForgeryToken()
    <h4>Delete account?</h4>

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
}


