td.details-control {
    background: url(../Resources/plant_closed.png) no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url(../Resources/plant_open.png) no-repeat center center;
    
}

table.dataTable tbody tr.water-alert {
    background-color: rgba(224, 21, 21, 0.62);
}

table.dataTable tbody tr.odd.water-alert {
    background-color: rgba(224, 21, 21, 0.62);
}