td.details-control {
    background: url(../Resources/plant_closed.png) no-repeat center center;
    cursor: pointer;
    
}

tr.shown td.details-control {
    background: url(../Resources/plant_open.png) no-repeat center center;
}

tr.water-alert {
    background-color: indianred;
}
 